* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    width: 100%;
    background: url(./assets/wp2611601.webp) center;
    background-size: cover;
    bottom: 100px;
}

h2 {
    margin: 0 0 10px;
    text-align: center;
    color: aliceblue;
    font-size: 35px;
}

.formBox {
    position: relative;
    margin: 10px;
}

.checkbox {
    margin: 10px 0; 
}

span {
    color: rgb(214, 231, 231);
}

.text {
    padding: 6px 17px;
    border-radius: 10px;
    /* border: 20 solid white; */
    color: white;
    outline: none;
    background: transparent;
}

.text::placeholder {
    padding: 0.5px;
    color: white;
    opacity: -50px;
}


